In [123]:
import sqlalchemy as alch
from getpass import getpass
import pandas as pd
from flask import Flask, request
import requests

In [22]:
df5= pd.read_csv('HowIMet2.csv')

In [36]:
password = getpass("Introduce tu pass de sql: ")
dbName="howimetyourmother"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

Introduce tu pass de sql: ········

In [87]:
df6=df5

In [88]:
df6['nombre_episodio']=[str(i).replace("'","") for i in df6.nombre_episodio]

In [89]:
df6['nombre_episodio']= [i.rstrip() for i in df6.nombre_episodio]

In [90]:
df6['frase']=[str(i).replace("'","") for i in df6.frase]

In [91]:
def check(que,string):
    """
    Función parametrizada que comprueba en cada tabla si existe el user, artista o canción.
    Devuelve True si existe y False si no
    """
    if que == "temporada":
        query = list(engine.execute(f"SELECT NumeroTemp FROM temporada WHERE NumeroTemp = '{string}'"))
        if len(query) > 0:
            return True
        else:
            return False
    elif que == "nombre_episodio":
        query = list(engine.execute(f"SELECT Nombre FROM episodio WHERE Nombre = '{string}'"))
        if len(query) > 0:
            return True
        else:
            return False
    elif que == "frase":
            query = list(engine.execute(f"SELECT Frase FROM frase WHERE Frase = '{string}'"))
            if len(query) > 0:
                return True
            else:
                return False

In [64]:
def insertTemporada(string):
    """
    Llama a la función check para comprobar si existe el ironhacker
    Inserta ironhacker si no existe
    """
    if check("temporada", string):
        return "la temporada existe"
    else:
        engine.execute(f"INSERT INTO temporada (NumeroTemp) VALUES ('{string}');")

In [65]:
df6.temporada.apply(insertTemporada)

0                       None
1        la temporada existe
2        la temporada existe
3        la temporada existe
4        la temporada existe
                ...
27612    la temporada existe
27613    la temporada existe
27614    la temporada existe
27615    la temporada existe
27616    la temporada existe
Name: temporada, Length: 27617, dtype: object

In [92]:
def insertEpisode(r):
    """
    This function receives a list and then calls to the check function defined above to check if the episode already exists in the database
    if not, it inserts the episode
    """

    if check("nombre_episodio", r.nombre_episodio):
        return "the episode already exists"
    else:
        temp_id = dameId("temporada", r.temporada)
        engine.execute(f"INSERT INTO episodio (Numero, Nombre, Temporada_idTemporada) VALUES ('{r.episodio}','{r.nombre_episodio}','{temp_id}');")

In [97]:
def dameId(que,string):
    """
    Devuelve el ID de lo que le pidamos sabiendo que ese elemento EXISTE
    """
    if que == "temporada":
        return list(engine.execute(f"SELECT idTemporada FROM temporada WHERE NumeroTemp ='{string}';"))[0][0]
    if que == "nombre_episodio":
        return list(engine.execute(f"SELECT idEpisosio FROM episodio WHERE Nombre ='{string}';"))[0][0]
    if que == "personaje":
        return list(engine.execute(f"SELECT idPersonaje FROM personaje WHERE Nombre ='{string}';"))[0][0]

In [103]:
dameId('nombre_episodio', ' The Limo')

401

In [94]:
for i,r in df6.iterrows():
    insertEpisode(r)

In [104]:
def insertFrase(r):
    """
    This function receives a list and then calls to the check function defined above to check if the episode already exists in the database
    if not, it inserts the episode
    """
    if check("frase", r.frase):
        return "the frase already exists"
    
    temp_id = dameId("temporada", r.temporada)
    personaje_id = dameId("personaje", r.personaje)
    episodio_id = dameId("nombre_episodio", r.nombre_episodio)
    engine.execute(f"INSERT INTO frase (Frase, Personaje_idPersonaje, Temporada_idTemporada, Episosio_idEpisosio) VALUES ('{r.frase}','{personaje_id}', '{temp_id}','{episodio_id}');")

In [118]:
#for i, r in df6.iterrows():
        #insertFrase(r)