In [466]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re

In [80]:
url='https://transcripts.foreverdreaming.org/viewtopic.php?f=177&t=11506'
html = requests.get(url)

In [81]:
soup= BeautifulSoup(html.content, "html.parser")

In [82]:
c=soup.findAll('p')[2:-5]

In [83]:
C=[i.getText().split(':') for i in c]

In [84]:
for i in C:
    if  '(' in key:
            i[0.split(')')[1]
    if len(i)!= 2:
        C.remove(i)

In [159]:
url='https://transcripts.foreverdreaming.org/viewtopic.php?f=177&t=11541'
html = requests.get(url)
soup= BeautifulSoup(html.content, "html.parser")
d=soup.findAll('p')[2:-5]
D=[i.getText().split(':') for i in d]

In [256]:
Lista=['Ted', 'Carl', 'Lily', 'Marshall', 'Robin', 'Barney', 'Future Ted VO', 'Everyone', 'Trudy']
df= pd.DataFrame(C,columns=['personaje','frase', 'temporada'])
df.temporada= 1
df['episodio']= 10
df['nombre_episodio']= 'The Pineapple Incident'

In [257]:
df.head()

,personaje,frase,temporada,episodio,nombre_episodio
0,Future Ted VO,Now I remember a lot of stories from back in ...,1,10,The Pineapple Incident
1,Carl,On the house.,1,10,The Pineapple Incident
2,Everyone,Whoa.,1,10,The Pineapple Incident
3,Carl,It's my own concoction. I call it the Red Dra...,1,10,The Pineapple Incident
4,Everyone,"Wow. Thanks, Carl.",1,10,The Pineapple Incident

In [164]:
for i in D:
    if len(i) != 2:
        D.remove(i)
    if  '(' in i[0]:
            i[0].split(')')[1]

In [258]:
df1= pd.DataFrame(D,columns=['personaje','frase'])
df1['temporada']= 3
df1['episodio']= 9
df1['nombre_episodio']= 'Slapsgiving'
df1.head()

,personaje,frase,temporada,episodio,nombre_episodio
0,Ted from 2030,Back when we were dating robin and I had this...,3,9,Slapsgiving
1,Barney,No way! March does not have 31 days.,3,9,Slapsgiving
2,Marshall,"Yes, it does! Everyone knows that. It's like ...",3,9,Slapsgiving
3,Ted & Robin,General knowledge.,3,9,Slapsgiving
4,Ted from 2030,And we did it all the time.,3,9,Slapsgiving

In [238]:
url='https://transcripts.foreverdreaming.org/viewtopic.php?f=177&t=11698'
html = requests.get(url)
soup= BeautifulSoup(html.content, "html.parser")
e=soup.findAll('p')[2:-5]
E=[i.getText().split(':') for i in e]

In [239]:
for i in E:
    if len(i) != 2:
        E.remove(i)
    if  '(' in i[0]:
            i[0].split(')')[1]

In [260]:
df2= pd.DataFrame(E,columns=['personaje','frase'])
df2['temporada']= 6
df2['episodio']= 10
df2['nombre_episodio']= 'Blitzgiving'
df2.head()

,personaje,frase,temporada,episodio,nombre_episodio
0,Ted,"Instead of stuffing, I'm going to fill the tu...",6,10,Blitzgiving
1,Lily,A Turturkeykey?,6,10,Blitzgiving
2,Robin,"Yeah, I was there for the ""insertion."" He use...",6,10,Blitzgiving
3,Ted,"Your loss. All right, it's dead in here. I'm ...",6,10,Blitzgiving
4,Barney,What? No! You can't go now. It's the night be...,6,10,Blitzgiving

In [245]:
url='https://transcripts.foreverdreaming.org/viewtopic.php?f=177&t=11657'
html = requests.get(url)
soup= BeautifulSoup(html.content, "html.parser")
f=soup.findAll('p')[2:-5]
F=[i.getText().split(':') for i in f]

In [246]:
for i in F:
    if len(i) != 2:
        F.remove(i)
    if  '(' in i[0]:
            i[0].split(')')[1]

In [261]:
df3= pd.DataFrame(F,columns=['personaje','frase','temporada'])
df3['temporada']= 4
df3['episodio']= 2
df3['nombre_episodio']= 'The Best Burger in New York'
df3.head()

,personaje,frase,temporada,episodio,nombre_episodio
0,Barney,Goliath National Bank. The world leader in cr...,4,2,The Best Burger in New York
1,Ted,"Okay, first of all, you look like the last pi...",4,2,The Best Burger in New York
2,Barney,Our company just bought them out in a ruthles...,4,2,The Best Burger in New York
3,Lily,"Barney, Marshall didn't quit his last soul-su...",4,2,The Best Burger in New York
4,Ted from 2030,"That was the plan, anyway. (We can see Marsha...",4,2,The Best Burger in New York

In [264]:
url='https://transcripts.foreverdreaming.org/viewtopic.php?f=177&t=11703'
html = requests.get(url)
soup= BeautifulSoup(html.content, "html.parser")
g=soup.findAll('p')[2:-5]
G=[i.getText().split(':') for i in g]

In [265]:
for i in G:
    if len(i) != 2:
        G.remove(i)
    if  '(' in i[0]:
            i[0].split(')')[1]

In [266]:
df4= pd.DataFrame(F,columns=['personaje','frase','temporada'])
df4['temporada']= 4
df4['episodio']= 2
df4['nombre_episodio']= 'Slapsgiving 2: The Revenge of the Slap'
df4.head()

,personaje,frase,temporada,episodio,nombre_episodio
0,Barney,Goliath National Bank. The world leader in cr...,4,2,Slapsgiving 2: The Revenge of the Slap
1,Ted,"Okay, first of all, you look like the last pi...",4,2,Slapsgiving 2: The Revenge of the Slap
2,Barney,Our company just bought them out in a ruthles...,4,2,Slapsgiving 2: The Revenge of the Slap
3,Lily,"Barney, Marshall didn't quit his last soul-su...",4,2,Slapsgiving 2: The Revenge of the Slap
4,Ted from 2030,"That was the plan, anyway. (We can see Marsha...",4,2,Slapsgiving 2: The Revenge of the Slap

In [267]:
entero= pd.concat([df,df1,df2,df3,df4])

In [269]:
entero.personaje.unique()

array(['Future Ted VO', 'Carl', 'Everyone', 'Ted', 'Lily', 'Barney',
       'Marshall', 'Robin', 'Marshall, Barney', 'Marshall, Lily, Barney',
       'Marshall, Lily', 'Guy', "INT. MACLAREN'S", 'Trudy',
       "Trudy's friend", 'Ted from 2030', 'Ted & Robin',
       'Marshall, on the phone with Barney',
       'Barney, with a funny accent', 'Marhall', 'Bob', 'Ted and Robin',
       'Lily, Marshall and Barney', 'All', 'Voice', 'Blitz', 'Woman',
       'Bar Tender',
       '(Ted goes out of his room and find the living room completely trashed)',
       'Barney, singing', 'Zoey', '(A dog is skate-boarding)',
       '[END O FLASHBACK]', 'Mysterious voice', 'Everyone, chanting',
       '(Ted opens the oven, and its door stays stuck in his hand)',
       'Steve', '', 'Babaka', 'Barney, laughing', 'Driver',
       'Marshall (to the mirror)', 'Marshall(to the mirror)', 'Wendy',
       'Wendy (taking note)', 'Wendy serves everybody except Robin.',
       'Everybody', "At Ted and Marshall's apartment", 'Marshal',
       'Man in the street (Distributing pamphlets)', "At McLaren's",
       'Marshall voiceover', 'There he wakes Ted.',
       "Ted and Marshall are walking in the New York's streets.",
       'Marshall (Raising hands in the sky.)', 'Man',
       'Irritated, he makes him sign leave them quiet.', 'Corner Bistro',
       "Paul's place", '21', 'Veggie Heaven', 'Marshall (getting up)',
       'Marshall (Watching Ted)', 'Regis Philbin (Lifting weights)',
       'Regis Philbin(He knocks in a bag of boxing.)',
       'Regis Philbin (Threatening him with his fists.)',
       'Regis Philbin (Taking Barney by the collar)',
       'Regis Philbin (To Marshall)', 'Regis Philbin',
       "Marshall (taking Robin's burger in his hands)", '"Million Dollar',
       'In the streets - In front of a green door', 'Robin (On nerves)',
       'The waitress gives us their burger, except to Robin.',
       'Marshall (to the waitress)', 'Waitress',
       'Marshall (putting his burger in his plate)',
       'Marshall is lying on the couch, watching TV.',
       '[End of flashback]',
       'Regis Philbin (in front of the last restaurant)',
       'Regis Philbin (screaming)', 'Man in the streets',
       'Robin (getting crazy)', 'Robin (Licking an envelope.)',
       'The man tattooed from head to foot brings to Marshall his plate.',
       'Regis'], dtype=object)

In [358]:
url='https://transcripts.foreverdreaming.org/viewtopic.php?f=177&t=11506'
html = requests.get(url)
soup= BeautifulSoup(html.content, "html.parser")
h=soup.findAll('p')[2:-5]
x= soup.findAll("h2")[0].getText()
H=[i.getText().split(':') for i in h]
for i in H:
    if len(i) != 2:
        H.remove(i) 
def marta(H):
    for i in H:
        if '(' in i[0]:
            marta(i[0].split(')')[1])
    return H
df=pd.DataFrame(H)
df['temporada']= x[0:2]
df['episodio']=x[3:5]
df['nombre_episodio']=x.split('-')[1]

In [359]:
df

,0,1,2,temporada,episodio,nombre_episodio
0,Future Ted VO,Now I remember a lot of stories from back in ...,None,01,10,The Pineapple Incident
1,Carl,On the house.,None,01,10,The Pineapple Incident
2,Everyone,Whoa.,None,01,10,The Pineapple Incident
3,Carl,It's my own concoction. I call it the Red Dra...,None,01,10,The Pineapple Incident
4,Everyone,"Wow. Thanks, Carl.",None,01,10,The Pineapple Incident
...,...,...,...,...,...,...
308,Robin,"Yes, you did, last night.",None,01,10,The Pineapple Incident
309,Ted,Really? Well.,None,01,10,The Pineapple Incident
310,Robin,"Get some sleep, Ted. You had a long night. An...",None,01,10,The Pineapple Incident
311,Future Ted VO,I left Trudy a message but she never called m...,None,01,10,The Pineapple Incident
312,INT. APARTMENT,None,None,01,10,The Pineapple Incident

In [354]:
R=[[1,2,3],[1,2,3],[1,2]]

In [355]:
def rata(o):
    for i in R:
        if len(i) !=2:
            rata(R.remove(i))
    return R

In [386]:
url='https://transcripts.foreverdreaming.org/viewtopic.php?f=177&t'
def func(f):
    df=pd.DataFrame()
    for i in range(700,713):
        try:
            url=str(f)+f'{i}'
        except:
            None

        html = requests.get(url)
        soup= BeautifulSoup(html.content, "html.parser")
        h=soup.findAll('p')[2:-5]
        x= soup.findAll("h2")[0].getText()
        H=[i.getText().split(':') for i in h]
        def rata(H):
            for i in H:
                if len(i) !=2:
                    rata(H.remove(i))
            return H 
        def marta(H):
            for i in H:
                if '(' in i[0]:
                    marta(i[0].split(')')[1])
            return H

        df1=pd.DataFrame(H)
        df1['temporada']= x[0:2]
        df1['episodio']=x[3:5]
        df1['nombre_episodio']=x.split('-')[1]
        df= pd.concat([df,df1])
    return df

In [387]:
df6= func('https://transcripts.foreverdreaming.org/viewtopic.php?f=177&t=11')

In [388]:
for i in range(2,4):
    df6.drop(i, inplace=True, axis=1)

In [389]:
df6= df6.mask(df6.eq('None')).dropna()

In [390]:
df6

,0,1,temporada,episodio,nombre_episodio
0,Barney,"So, this chick and I are going at it behind t...",06,02,Cleaning House
1,Robin,What's wrong?,06,02,Cleaning House
2,Barney,I don't want to talk about it.,06,02,Cleaning House
3,Robin,"Okay. Hey, you guys see Deadliest Catch last ...",06,02,Cleaning House
4,Ted,Did I ever! Deadliest Catch ever!,06,02,Cleaning House
...,...,...,...,...,...
234,Ted,"I mean, if either one of us had even the slig...",06,11,The Mermaid Theory
235,Zoey,No. Do you?,06,11,The Mermaid Theory
236,Ted,No.,06,11,The Mermaid Theory
237,Sailor #1,Still no sign of land.,06,11,The Mermaid Theory
238,Sailor #2,It's been 243 days since we've seen another l...,06,11,The Mermaid Theory

In [392]:

url='https://tvquot.es/how-i-met-your-mother/slapsgiving-3-slappointment-in-slapmara/'
html = requests.get(url)
soup= BeautifulSoup(html.content, "html.parser")
c=soup.findAll("div",{"class": "quotesBody"})
c= [c[i].getText().split('\n') for i in range(len(c))]
Lista=[]
for i in range(len(c)):
    for j in range(len(c[i])):
          Lista.append(c[i][j].split(':'))
Lista1=[]
for i in Lista:
    if len(i) == 2:
        Lista1.append(i)

In [397]:
c=soup.findAll("div",{"class": "quotesBody"})

In [409]:
c= [c[i].getText().split('\n') for i in range(len(c))]

In [414]:
c[0][1]

"Marshall: A slap in the face. Ah, yes, Barney, there's something I need to tell you about the next slap that you're going to receive. You see, I want this slap to be as painful as humanly possible."

In [420]:
Lista=[]
for i in range(len(c)):
    for j in range(len(c[i])):
          Lista.append(c[i][j].split(':'))

In [435]:
Lista
Lista1=[]
for i in Lista:
    if len(i) == 2:
        Lista1.append(i)

In [438]:
df7= pd.DataFrame(Lista1)
df7

           0                                                  1
0   Marshall   A slap in the face. Ah, yes, Barney, there's ...
1        All                                              Sure.
2     Barney   Okay, okay. Yeah, I'm gonna stop you right th...
3   Marshall                                  Some great slaps.
4     Barney   But here's the problem. You've tormented me s...
..       ...                                                ...
64  Marshall                                              Sure.
65    Barney    Really? Fabled? Because I've never heard of it.
66  Marshall         Pretty sure everybody's heard of it. Guys?
67       Ted                     I backpacked there in college.
68  Marshall   See? Fabled. It even inspired a popular Chine...

[69 rows x 2 columns]

In [403]:
try:
    for i in c:
        i.split(':')
except:
    None

In [407]:
c[0].getText()

"\nMarshall: A slap in the face. Ah, yes, Barney, there's something I need to tell you about the next slap that you're going to receive. You see, I want this slap to be as painful as humanly possible.\nAll: Sure.\nBarney: Okay, okay. Yeah, I'm gonna stop you right there. Yes, you won a slap bet with me seven years ago. And yes, over the years you got in some great slaps...\nMarshall: Some great slaps.\nBarney: But here's the problem. You've tormented me so much that I am now immune to it. It's as if my face, my psyche, my soul were covered in that numbing cream, we all put on our deal so that we can go all night, right, fellas? Okay, we'll all just pretend like we've never done that. Just like we've all never sat on our left hand until it fell asleep and then used it for an away-gamer. Okay, we'll all pretend like we've never done that, just like we've all never taken two live jumper cables...\nTed: Please, stop. "

In [425]:
H= [[1,2,3],[1,2,3,4,5],[1],[1,2]]

In [433]:
Lista1=[]
Lista2=[]
def rata(Z):
    for i in Z:
        if len(i) !=2:
            Z.remove(i)
    return Z

In [434]:
rata(H)

[[1, 2]]

In [462]:

def caca(c):
    Lista2=[]
    for i in range(1,5):

        url= str(c)+f'{i}/'
        print(url)
        html = requests.get(url)
        soup= BeautifulSoup(html.content, "html.parser")
        c=soup.findAll("div",{"class": "quotesBody"})
        c= [c[i].getText().split('\n') for i in range(len(c))]
        Lista=[]
        for i in range(len(c)):
            for j in range(len(c[i])):
                  Lista.append(c[i][j].split(':'))
        Lista1=[]
        for i in Lista:
            if len(i) == 2:
                Lista1.append(i)
        Lista2.append(Lista1)
    return Lista2

In [463]:
d=caca('https://tvquot.es/how-i-met-your-mother/slapsgiving-3-slappointment-in-slapmara/')

https://tvquot.es/how-i-met-your-mother/slapsgiving-3-slappointment-in-slapmara/1/
[['', "Marshall: A slap in the face. Ah, yes, Barney, there's something I need to tell you about the next slap that you're going to receive. You see, I want this slap to be as painful as humanly possible.", 'All: Sure.', "Barney: Okay, okay. Yeah, I'm gonna stop you right there. Yes, you won a slap bet with me seven years ago. And yes, over the years you got in some great slaps...", 'Marshall: Some great slaps.', "Barney: But here's the problem. You've tormented me so much that I am now immune to it. It's as if my face, my psyche, my soul were covered in that numbing cream, we all put on our deal so that we can go all night, right, fellas? Okay, we'll all just pretend like we've never done that. Just like we've all never sat on our left hand until it fell asleep and then used it for an away-gamer. Okay, we'll all pretend like we've never done that, just like we've all never taken two live jumper cables...", 'Ted: Please, stop. '], ['', "Future Ted: [v.o.] Oh, sorry, kids. I forgot to mention there's a bit of a back-story to this particular slap.", '[flashback a few weeks earlier:]', 'Marshall: Oh, man. At least it landed on the mustard stain.', "Barney: Don't bother. That suit is a stain. A stain on the very institution of suits. You know what tie goes with that suit? The tie at the top of a Hefty bag. A suit like that only needs one button, self-destruct.", 'Lily: Hey, I bought him that suit.', "Barney: Where, Barfs Brothers? Men's Outhouse? Georgio Arms-Are-Not-The-Same-Lengthy? That suit is a slap in the face to all suits everywhere. "], ['', 'Barney: Cleveland?', 'Marshall: Cleveland.', 'Barney: Why Cleveland?', "Marshall: It's the city equivalent of being slapped in the face.", 'Ted: Bro. '], ['', "Marshall: Barney, I'm well aware that you've developed a resistance to all of my old tricks, which is why I sought out special training.", '[flashback to Marshall going to a kung fu class]', "Marshall: Hi. Hey, I'm sure you get this question all the time, but is there a special class where I just learn slapping?", 'Teacher: We teach kung fu here.', "Marshall: Right. See, the thing is I don't need to learn anything about kicking, you know, because, uh... So yeah, I'm good there. What I really need to learn is slapping. I need someone to teach me how to slap my friend just, like, really hard... right in his stupid face. Can you teach me that?", 'Teacher: Kung fu is an ancient and honorable martial art. It must be learned with great devotion and respect.', 'Marshall: So where are we on this slapping thing? Yes, no, maybe...?', 'Teacher: Get out.', 'Boy: Psst. I know what you seek. You seek to learn the slap of a thousand exploding suns.', "Marshall: Yes, that's totally a thing I've heard of. Can you teach me?", 'Boy: No, but I know who can.', 'Marshall: Can you take me to this great master? I have much gold.', 'Boy: It is not one great master you seek, but three. They will teach you the three mighty virtues of slapistry. Speed. Strength. And accuracy. Put these three virtues together, and only then will you have mastered', 'the slap of a million exploding suns. '], ['', "Barney: I'm sorry to interrupt but a second ago, wasn't it the slap of a thousand exploding suns?", 'Marshall: Pretty sure I said a million. Guys?', 'Robin: He said a million.', 'Ted: Definitely. '], ['', 'Marshall: So I went to Shanghai...', "Barney: You didn't go to Shanghai.", 'Marshall: I went to Shanghai.', 'Barney: When did you go to Shanghai?', 'Marshall: Last year I went to Shanghai.', "Barney: You didn't go to Shanghai.", 'Lily: He went to Shanghai.', "Barney: He didn't go to Shanghai.", 'Ted: Totally went to Shanghai.', "Barney: Didn't go to Shanghai.", 'Marshall: So I went to Shanghai. In search of the first master. '], ['', "Barney: Okay, enough. I know you're trying to freak me out, but like I said, it's not working. So I will give you much gold to stop wasting my time. "], ['', "Marshall: Relax, I'm not gonna slap you right now. When I slap you, it shall be beneath a willow tree next to four women and a tiger.", 'Barney: A willow tree, four women and a tiger? What are you talking about?', 'Marshall: Who said anything about a willow tree, four women and a tiger? Guys?', 'Ted: You were totally silent just now.', "Barney: But Marshall just said that. What is going on? How did you do that to the jukebox? Wait, it's fake. That's a prop jukebox designed just to mess with me.", 'Carl: Marshall, that jukebox cost 8 grand.', 'Marshall: I have much gold.', 'Carl: Huh. That is much. You got lucky, Eriksen. '], ['', "Marshall: Look, if you're really nervous, don't think of it as a slap, think of it as a high-five. For your stupid face. So anyway, I'm in the noodle house.", '[flashback:]', "Marshall: I'll admit, I didn't expect Red Bird, master of speed, to be a girl. You sure you really know how to...?", 'Robin: What is the sound of one hand slapping?', "Marshall: I'm sorry, I don't understa... [slapped] Wait, how did you...? [slapped] Lucky shot, I wasn't ready... [slapped] You know, that tip isn't a full 20 percent... [slapped twice] Train me, Red Bird. Teach me speed.", 'Robin: No. I retired long ago.', "Marshall: Retired? You're like 32.", 'Robin: I am 86 years old. But slapping is now a part of my past.', 'Marshall: Darn, I really wanted to slap Barney Stinson.', "Robin: This is to slap Barney Stinson? Yeah, okay, I'll totally teach you. "], ['', 'Barney: Beg your pardon, the fabled Slapping Tree of Gongqing Forest?', 'Marshall: Sure.', "Barney: Really? Fabled? Because I've never heard of it.", "Marshall: Pretty sure everybody's heard of it. Guys?", 'Ted: I backpacked there in college.', "Marshall: See? Fabled. It even inspired a popular Chinese children's book. It's a poignant parable whose message is if you love someone, set them free. But not before first slapping them right in their stupid face. "]]2/

InvalidSchema: No connection adapters were found for '[[\'\', "Marshall: A slap in the face. Ah, yes, Barney, there\'s something I need to tell you about the next slap that you\'re going to receive. You see, I want this slap to be as painful as humanly possible.", \'All: Sure.\', "Barney: Okay, okay. Yeah, I\'m gonna stop you right there. Yes, you won a slap bet with me seven years ago. And yes, over the years you got in some great slaps...", \'Marshall: Some great slaps.\', "Barney: But here\'s the problem. You\'ve tormented me so much that I am now immune to it. It\'s as if my face, my psyche, my soul were covered in that numbing cream, we all put on our deal so that we can go all night, right, fellas? Okay, we\'ll all just pretend like we\'ve never done that. Just like we\'ve all never sat on our left hand until it fell asleep and then used it for an away-gamer. Okay, we\'ll all pretend like we\'ve never done that, just like we\'ve all never taken two live jumper cables...", \'Ted: Please, stop. \'], [\'\', "Future Ted: [v.o.] Oh, sorry, kids. I forgot to mention there\'s a bit of a back-story to this particular slap.", \'[flashback a few weeks earlier:]\', \'Marshall: Oh, man. At least it landed on the mustard stain.\', "Barney: Don\'t bother. That suit is a stain. A stain on the very institution of suits. You know what tie goes with that suit? The tie at the top of a Hefty bag. A suit like that only needs one button, self-destruct.", \'Lily: Hey, I bought him that suit.\', "Barney: Where, Barfs Brothers? Men\'s Outhouse? Georgio Arms-Are-Not-The-Same-Lengthy? That suit is a slap in the face to all suits everywhere. "], [\'\', \'Barney: Cleveland?\', \'Marshall: Cleveland.\', \'Barney: Why Cleveland?\', "Marshall: It\'s the city equivalent of being slapped in the face.", \'Ted: Bro. \'], [\'\', "Marshall: Barney, I\'m well aware that you\'ve developed a resistance to all of my old tricks, which is why I sought out special training.", \'[flashback to Marshall going to a kung fu class]\', "Marshall: Hi. Hey, I\'m sure you get this question all the time, but is there a special class where I just learn slapping?", \'Teacher: We teach kung fu here.\', "Marshall: Right. See, the thing is I don\'t need to learn anything about kicking, you know, because, uh... So yeah, I\'m good there. What I really need to learn is slapping. I need someone to teach me how to slap my friend just, like, really hard... right in his stupid face. Can you teach me that?", \'Teacher: Kung fu is an ancient and honorable martial art. It must be learned with great devotion and respect.\', \'Marshall: So where are we on this slapping thing? Yes, no, maybe...?\', \'Teacher: Get out.\', \'Boy: Psst. I know what you seek. You seek to learn the slap of a thousand exploding suns.\', "Marshall: Yes, that\'s totally a thing I\'ve heard of. Can you teach me?", \'Boy: No, but I know who can.\', \'Marshall: Can you take me to this great master? I have much gold.\', \'Boy: It is not one great master you seek, but three. They will teach you the three mighty virtues of slapistry. Speed. Strength. And accuracy. Put these three virtues together, and only then will you have mastered\', \'the slap of a million exploding suns. \'], [\'\', "Barney: I\'m sorry to interrupt but a second ago, wasn\'t it the slap of a thousand exploding suns?", \'Marshall: Pretty sure I said a million. Guys?\', \'Robin: He said a million.\', \'Ted: Definitely. \'], [\'\', \'Marshall: So I went to Shanghai...\', "Barney: You didn\'t go to Shanghai.", \'Marshall: I went to Shanghai.\', \'Barney: When did you go to Shanghai?\', \'Marshall: Last year I went to Shanghai.\', "Barney: You didn\'t go to Shanghai.", \'Lily: He went to Shanghai.\', "Barney: He didn\'t go to Shanghai.", \'Ted: Totally went to Shanghai.\', "Barney: Didn\'t go to Shanghai.", \'Marshall: So I went to Shanghai. In search of the first master. \'], [\'\', "Barney: Okay, enough. I know you\'re trying to freak me out, but like I said, it\'s not working. So I will give you much gold to stop wasting my time. "], [\'\', "Marshall: Relax, I\'m not gonna slap you right now. When I slap you, it shall be beneath a willow tree next to four women and a tiger.", \'Barney: A willow tree, four women and a tiger? What are you talking about?\', \'Marshall: Who said anything about a willow tree, four women and a tiger? Guys?\', \'Ted: You were totally silent just now.\', "Barney: But Marshall just said that. What is going on? How did you do that to the jukebox? Wait, it\'s fake. That\'s a prop jukebox designed just to mess with me.", \'Carl: Marshall, that jukebox cost 8 grand.\', \'Marshall: I have much gold.\', \'Carl: Huh. That is much. You got lucky, Eriksen. \'], [\'\', "Marshall: Look, if you\'re really nervous, don\'t think of it as a slap, think of it as a high-five. For your stupid face. So anyway, I\'m in the noodle house.", \'[flashback:]\', "Marshall: I\'ll admit, I didn\'t expect Red Bird, master of speed, to be a girl. You sure you really know how to...?", \'Robin: What is the sound of one hand slapping?\', "Marshall: I\'m sorry, I don\'t understa... [slapped] Wait, how did you...? [slapped] Lucky shot, I wasn\'t ready... [slapped] You know, that tip isn\'t a full 20 percent... [slapped twice] Train me, Red Bird. Teach me speed.", \'Robin: No. I retired long ago.\', "Marshall: Retired? You\'re like 32.", \'Robin: I am 86 years old. But slapping is now a part of my past.\', \'Marshall: Darn, I really wanted to slap Barney Stinson.\', "Robin: This is to slap Barney Stinson? Yeah, okay, I\'ll totally teach you. "], [\'\', \'Barney: Beg your pardon, the fabled Slapping Tree of Gongqing Forest?\', \'Marshall: Sure.\', "Barney: Really? Fabled? Because I\'ve never heard of it.", "Marshall: Pretty sure everybody\'s heard of it. Guys?", \'Ted: I backpacked there in college.\', "Marshall: See? Fabled. It even inspired a popular Chinese children\'s book. It\'s a poignant parable whose message is if you love someone, set them free. But not before first slapping them right in their stupid face. "]]2/'

In [469]:
url='https://transcripts.foreverdreaming.org/viewtopic.php?f=177&t'
def func(f):
    df=pd.DataFrame()
    for i in range(505,713):
        try:
            url=str(f)+f'{i}'
        except:
            None

        html = requests.get(url)
        soup= BeautifulSoup(html.content, "html.parser")
        h=soup.findAll('p')[2:-5]
        x= soup.findAll("h2")[0].getText()
        H=[i.getText().split(':') for i in h]
        H=[re.sub(r'\([^)]*\)', '', i) for i in j for j in H]
        Lista=[]
        try:
            for i in H:
                if len(i) ==2:
                    Lista.append(i)
        except:
            'IndexError: list index out of range'
            
        df1=pd.DataFrame(Lista)
        df1['temporada']= x[0:2]
        df1['episodio']=x[3:5]
        df1['nombre_episodio']=x.split('-')[1]
        df= pd.concat([df,df1])
    return df

In [470]:
df3=func('https://transcripts.foreverdreaming.org/viewtopic.php?f=177&t=11')

TypeError: 'int' object is not iterable

In [581]:
H= [['1','2','3'], ['(caca)cipote', 'pene']]

In [588]:
lista=[]
 
Lista=[j for i in H for j in i]
Lista

['1', '2', '3', '(caca)cipote', 'pene']

In [562]:
for i in range(len(H)):
    lista2.append([])
    for j in range(len(i)):
        lista2[i].append(0)

'pene'

In [507]:
j= '(caca)culo'
j=re.sub(r'\([^)]*\)', '', j)

In [634]:
H= [['1','2','3'], ['(caca)cipote', 'pene']]

In [635]:
Lista1=[]

for i in range(len(H)):
    Lista=[]
    Lista1.append(Lista)
    for j in range(len(H[i])):
        c= re.sub(r'\([^)]*\)', '', H[i][j])
        Lista.append(c)
        
Lista1

[['1', '2', '3'], ['cipote', 'pene']]

In [628]:
Lista[0]

[]

In [ ]:
def func(f):
    df=pd.DataFrame()
    for i in range(505,713):
        try:
            url=str(f)+f'{i}'
        except:
            None

        html = requests.get(url)
        soup= BeautifulSoup(html.content, "html.parser")
        h=soup.findAll('p')[2:-5]
        x= soup.findAll("h2")[0].getText()
        H=[i.getText().split(':') for i in h]
        Lista=[]
        Lista3=[]
        for i in range(len(H)):
            Lista2=[]
            Lista.append(Lista2)
            for j in range(len(H[i])):
                c= re.sub(r'\([^)]*\)', '', H[i][j])
                Lista2.append(c)
        for i in Lista:
            if len(i) ==2:
                Lista3.append(i)
        df1=pd.DataFrame(Lista3)
        df1['temporada']= x[0:2]
        df1['episodio']=x[3:5]
        df1['nombre_episodio']=x.split('-')[1]
        df= pd.concat([df,df1])
    return df

In [638]:
url='https://transcripts.foreverdreaming.org/viewtopic.php?f=177&t'
def func(f):
    df=pd.DataFrame()
    for i in range(505,713):
        try:
            url=str(f)+f'{i}'
        except:
            None

        html = requests.get(url)
        soup= BeautifulSoup(html.content, "html.parser")
        h=soup.findAll('p')[2:-5]
        x= soup.findAll("h2")[0].getText()
        H=[i.getText().split(':') for i in h]
        Lista=[]
        try:
            for i in H:
                if len(i) ==2:
                    Lista.append(i)

            for i in Lista:
                if '(' in i[0]:
                    i[0].split(')')[1]
        except:
            'IndexError: list index out of range'
        df1=pd.DataFrame(Lista)
        df1['temporada']= x[0:2]
        df1['episodio']=x[3:5]
        df1['nombre_episodio']=x.split('-')[1]
        df= pd.concat([df,df1])
    return df

In [639]:
df=func('https://transcripts.foreverdreaming.org/viewtopic.php?f=177&t=11')

In [640]:
df

,0,1,temporada,episodio,nombre_episodio
0,Ted,"Yeah, that's right...a limo.",01,11,The Limo
1,Robin,"Oh, man, Ted, this is great.",01,11,The Limo
2,Ted,"Okay, people, let's talk strategy. Last new y...",01,11,The Limo
3,Barney,Question?,01,11,The Limo
4,Ted,"Yes, Barney, your submissions were received a...",01,11,The Limo
...,...,...,...,...,...
192,Ted,"I mean, if either one of us had even the slig...",06,11,The Mermaid Theory
193,Zoey,No. Do you?,06,11,The Mermaid Theory
194,Ted,No.,06,11,The Mermaid Theory
195,Sailor #1,Still no sign of land.,06,11,The Mermaid Theory
196,Sailor #2,It's been 243 days since we've seen another l...,06,11,The Mermaid Theory

In [8]:
import sqlalchemy as alch
from getpass import getpass
import pandas as pd
from textblob import TextBlob
from flask import Flask, request

In [3]:
password = getpass("Introduce tu pass de sql: ")
dbName="howimetyourmother"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

Introduce tu pass de sql: ········

In [21]:
def traduce(x):
    texto = TextBlob(x)
    traducido = f"{texto.translate(to='es')}"
    return traducido

In [5]:
query = list(engine.execute(f"SELECT idPersonaje FROM personaje WHERE `Nombre` = 'Trudy'"))
c = query[0][0]

In [16]:
query = f"""
    SELECT Frase 
    FROM frase 
    WHERE (Personaje_idPersonaje= {c});
    """

eldata = pd.read_sql_query(query,engine)
print(eldata) 
r=pd.DataFrame(eldata)

                                                Frase
0                            Trudy. My name is Trudy.
1    I know, its two years of my life Im never get...
2                              Or the one after that.
3                                     Hes kinda cute.
4                                            Did you?
5                           I liked your performance.
6    I wish I had your guts, getting up and making...
7    I dont know. Still, Ive had a pretty serious ...
8                                        Youre funny.
9           Then I guess youre gonna have to call me.
10   So I came over here. And now Im really, reall...
11                      Why, is that your girlfriend?
12    Youre married. Yeah, I cant believe I did this.
13                                             Trudy.
14   I slept with you, then climbed down the fire ...
15   You were embarrassed? I was like, I really li...
16                         And I forgot my underwear.
17                       I am so glad I ran into you.
18                    Oh my God, Rachel, how are you?
19                               Ted, this is Rachel.
20      And best friends forever, all sophomore year.
21   We could be so competitive. But thats all beh...
22                 We have so much catching up do to.
23            Oh, its off, apparently hes into dudes.
24   Oh, Ted, OK, settle an argument. Is it steali...
25                    Youre the man-thief, man-thief.
26              Youre so funny. I think Ted is funny.
27                                     Neither of us.
28   Its really too bad. There was that one thing ...
29                                  No, you tell him.
30                                       I dont care.
31                                      OK, on three.
32                                               One.
33                                               Two.
34                                              Three
35   I thought maybe we could all go and listen to...
36                Of course we cant promise anything.
37             You do like to have fun, dont you Ted?
38                                      So exhausted.
39                                  Ted, whats wrong?

In [17]:
r.head()

                                               Frase
0                           Trudy. My name is Trudy.
1   I know, its two years of my life Im never get...
2                             Or the one after that.
3                                    Hes kinda cute.
4                                           Did you?

In [35]:
def newphrase():
    phrase = request.form.get("phrase")
    character = request.form.get("character")
    episode = request.form.get("episode")

    return episode,character,phrase

In [37]:
newphrase

In [34]:
traduce('My name is Trudy')

'Mi nombre es trudy'

In [31]:
i

' Trudy. My name is Trudy.'

In [7]:
import spacy
import requests

In [8]:
url = 'http://127.0.0.1:5000/sentiment/Ted/Pilot'

In [12]:
r6 = requests.get(url)

TypeError: 'bytes' object is not callable